* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body {
  background-color: rgb(233, 214, 233);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  background-color: #a8cbd6;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out;
}

.logo {
  color: white;
  letter-spacing: 2px;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: white;
}
.nav-links a {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 10px;
  color: white;
}
.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.589);
  color: black;
  font-size: 16px;
}
.icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.icon span {
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}
.icon span:nth-child(1) { top: 0; }
.icon span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.icon span:nth-child(3) { bottom: 0; }
.icon.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.icon.active span:nth-child(2) {
  opacity: 0;
}

.icon.active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
}
.hero-left {
  width: 45%;
  color: white;
  z-index: 9;
}
.hero-left h3 {
  font-size: 40px;
  line-height: 1.2;
}
 p {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.9;
}
.flavors {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 20px 2px rgb(0, 0, 0);
  background-color: #ddd;
}
.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.644);
  cursor: pointer;
  z-index: 2;
}
.dot.active {
  outline: 3px solid rgba(0, 0, 0, 0.541);
  scale: 0.9;
}
.caramel { background-color: #ffd700;}
.strawberry { background-color: #ff7aa2; }
.chocolate { background-color: #7b4a12; }
.mint { background-color: #4caf50; }
.hero-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin: 20px;
}
.hero-right .hero-img {
  width: 350px;
  filter: drop-shadow(0 20px 20px rgba(0,0,0,0.4));
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.hero-img.pop {
  animation: popFromBottom 0.6s ease-out;
}
@keyframes popFromBottom {
  0% {
    opacity: 0;
    transform: translateY(80px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.05);
  }
  80% {
    transform: translateY(5px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.circle {
  position: absolute;
  width: 620px;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.158);
  border-radius: 50%;
  left: -110px;
  top: -80px;
  z-index: 1;
}
.buy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 240px;
    margin: 20px;
  }
.btn {
  background-color: rgba(255, 255, 255, 0.589);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(255, 255, 255, 0.589);
  color: black;
  font-size: 16px;
}
@media (max-width: 850px) {
 .icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    display: none;
    z-index: 10;
  }
  .nav-links a {
    color: rgb(44, 44, 44);
  }
  .nav-links.active {
    display: flex;
  }
  .hero {
    flex-direction: column;
    gap:40px;
    text-align: center;
  }
  .hero-left, .hero-right {
    width: 100%;
  }
  .circle {
    left: -80px;
    top: -110px;
  }
  .buy{
    flex-direction: column-reverse;
    gap: 20px;
    margin:20px;
  }
}